<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Shows the current sessions on the server."
            id="nl.jeldertpol.xtc.client.commands.showSessions"
            name="Show sessions">
      </command>
      <command
            description="Leave the currently joined session."
            id="nl.jeldertpol.xtc.client.commands.leaveSession"
            name="Leave session">
      </command>
      <command
            description="Start a new session."
            id="nl.jeldertpol.xtc.client.commands.startSession"
            name="Start session">
      </command>
      <command
            description="Pause or resume the processing of changes."
            id="nl.jeldertpol.xtc.client.commands.pauseResume"
            name="Pause / Resume">
      </command>
      <command
            description="Show XTC preferences."
            id="nl.jeldertpol.xtc.client.commands.preferences"
            name="Preferences">
      </command>
      <command
            description="Resync opened editor."
            id="nl.jeldertpol.xtc.client.commands.resync"
            name="Resync">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nl.jeldertpol.xtc.client.actions.ShowSessionsAction"
            commandId="nl.jeldertpol.xtc.client.commands.showSessions">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.LeaveSessionAction"
            commandId="nl.jeldertpol.xtc.client.commands.leaveSession">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.StartSessionAction"
            commandId="nl.jeldertpol.xtc.client.commands.startSession">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.PauseResumeAction"
            commandId="nl.jeldertpol.xtc.client.commands.pauseResume">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.PreferencesAction"
            commandId="nl.jeldertpol.xtc.client.commands.preferences">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.ResyncAction"
            commandId="nl.jeldertpol.xtc.client.commands.resync">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="nl.jeldertpol.xtc.client.menu"
               label="XTC"
               mnemonic="X">
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.showSessions"
                  mnemonic="w"
                  style="push">
            </command>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.leaveSession"
                  mnemonic="L"
                  style="push">
            </command>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.startSession"
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="nl.jeldertpol.xtc.client.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.pauseResume"
                  mnemonic="R"
                  style="push">
            </command>
            <separator
                  name="nl.jeldertpol.xtc.client.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.preferences"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nl.jeldertpol.xtc.client.toolbar">
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.resync"
                  icon="resources/icons/arrow_rotate_clockwise.png"
                  id="nl.jeldertpol.xtc.client.commands.resync"
                  mnemonic="R"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            name="XTC">
      </page>
      <page
            category="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            class="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            name="Connection preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nl.jeldertpol.xtc.client.preferences.connection.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="nl.jeldertpol.xtc.client.view"
            name="XTC">
      </category>
      <view
            category="nl.jeldertpol.xtc.client.view"
            class="nl.jeldertpol.xtc.client.views.whosWhere.WhosWhereView"
            icon="resources/icons/eye.png"
            id="nl.jeldertpol.xtc.client.view.whosWhere"
            name="Whos Where"
            restorable="true">
      </view>
      <view
            category="nl.jeldertpol.xtc.client.view"
            class="nl.jeldertpol.xtc.client.views.chat.ChatView"
            icon="resources/icons/user_comment.png"
            id="nl.jeldertpol.xtc.client.view.chat"
            name="Chat"
            restorable="true">
      </view>
   </extension>

</plugin>
