<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Shows the current sessions on the server."
            id="nl.jeldertpol.xtc.client.commands.showSessions"
            name="Show sessions">
      </command>
      <command
            description="Leave the currently joined session."
            id="nl.jeldertpol.xtc.client.commands.leaveSession"
            name="Leave session">
      </command>
      <command
            description="Start a new session."
            id="nl.jeldertpol.xtc.client.commands.startSession"
            name="Start session">
      </command>
      <command
            description="Show XTC preferences."
            id="nl.jeldertpol.xtc.client.commands.preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nl.jeldertpol.xtc.client.actions.ShowSessionsAction"
            commandId="nl.jeldertpol.xtc.client.commands.showSessions">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.LeaveSessionAction"
            commandId="nl.jeldertpol.xtc.client.commands.leaveSession">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.StartSessionAction"
            commandId="nl.jeldertpol.xtc.client.commands.startSession">
      </handler>
      <handler
            class="nl.jeldertpol.xtc.client.actions.PreferencesAction"
            commandId="nl.jeldertpol.xtc.client.commands.preferences">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="nl.jeldertpol.xtc.client.menu"
               label="XTC"
               mnemonic="X">
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.showSessions"
                  mnemonic="w"
                  style="push">
            </command>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.leaveSession"
                  mnemonic="L"
                  style="push">
            </command>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.startSession"
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="nl.jeldertpol.xtc.client.menu.separator"
                  visible="true">
            </separator>
            <command
                  commandId="nl.jeldertpol.xtc.client.commands.preferences"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            name="XTC">
      </page>
      <page
            category="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            class="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            name="Connection preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nl.jeldertpol.xtc.client.preferences.connection.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
