<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="nl.jeldertpol.xtc.client.projectpopup"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="nl.jeldertpol.xtc.client.projectpopup.xtc"
               label="XTC"
               path="additions">
            <separator
                  name="session">
            </separator>
            <separator
                  name="preferences">
            </separator>
         </menu>
         <action
               class="nl.jeldertpol.xtc.client.projectpopup.StartJoinAction"
               enablesFor="1"
               id="nl.jeldertpol.xtc.client.projectpopup.xtc.startjoin"
               label="Start / Join"
               menubarPath="nl.jeldertpol.xtc.client.projectpopup.xtc/session">
         </action>
         <action
               class="nl.jeldertpol.xtc.client.projectpopup.DisconnectAction"
               enablesFor="1"
               id="nl.jeldertpol.xtc.client.projectpopup.xtc.disconnect"
               label="Disconnect"
               menubarPath="nl.jeldertpol.xtc.client.projectpopup.xtc/session">
         </action>
         <action
               class="nl.jeldertpol.xtc.client.projectpopup.PreferencesAction"
               id="nl.jeldertpol.xtc.client.projectpopup.xtc.preferences"
               label="Preferences"
               menubarPath="nl.jeldertpol.xtc.client.projectpopup.xtc/preferences">
         </action>
         <action
               class="nl.jeldertpol.xtc.client.projectpopup.FakeStartAction"
               id="nl.jeldertpol.xtc.client.projectpopup.xtc.fakestart"
               label="Fake start"
               menubarPath="nl.jeldertpol.xtc.client.projectpopup.xtc/session">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            name="XTC">
      </page>
      <page
            category="nl.jeldertpol.xtc.client.preferences.XtcPreferencePage"
            class="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            id="nl.jeldertpol.xtc.client.preferences.connection.ConnectionPreferencePage"
            name="Connection preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nl.jeldertpol.xtc.client.preferences.connection.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
